{% extends "divelog/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
	<div class="span3">
		<ul class="nav nav-list settings-sidenav">
			<li><a href="{% url divelog.views.settings_account  %}">Account <i class="icon-chevron-right"></i></a></li>
			<li><a href="{% url divelog.views.settings_password %}">Password <i class="icon-chevron-right"></i></a></li>
		</ul>
	</div>
	<div class="span9">
		{% block settings_contents %}
		{% endblock %}
	</div>
</div>
{% endblock %}
