<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Django DiveLog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="An online divelog in django." />
		<meta name="author" content="Ivan Habunek" />

		<link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}css/divelog.css" rel="stylesheet" />
		{% block css %}{% endblock %}
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{% url divelog_index %}">Django DiveLog</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="{% url divelog_dive_list %}">Dives</a></li>
							<li><a href="{% url divelog_location_list %}">Locations</a></li>
							<li><a href="{% url divelog_upload_list %}">Uploads</a></li>
						</ul>
					</div>
					<div class="btn-group pull-right">
					{% if user.is_authenticated %}
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> {{ user.username }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url divelog_settings_account %}">Settings</a></li>
							<li><a href="{% url django.contrib.auth.views.logout %}">Sign Out</a></li>
						</ul>
					{% else %}
						<a class="btn" href="/accounts/login">Log in</a>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<h1>{% block title %}{% endblock %}</h1>
			{% include "divelog/messages.html" %}
			{% block content %}
			{% endblock %}
		</div>

		<!-- Le javascript
		<!-- Placed at the end of the document so the pages load faster -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
		<script src="{{ STATIC_URL }}vendor/jquery/1.7.2/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>
