{% extends "divelog/base.html" %}

{% block title %}Galleries{% endblock %}

{% block content %}
	<p>Enter a Picasa username to look for user's galleries:</p>
	<div class="form-inline">
		<input type="text" id="username" placeholder="Enter a picasa username..." value="ivan.habunek" />
		<button class="btn" onclick="fetchAlbums();">Find</button>
	</div>
	
	<div id="picasa-target"></div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery.jsonp/jquery.jsonp-2.3.1.min.js"></script>
	<script type="text/javascript">
	function fetchAlbums()
	{
		var username = $('#username').val();
		if (username == '') {
			return;
		}
		
		// Clear the target div
		$('#picasa-target').empty();

		/*
		 * Using jquery.jsonp (https://github.com/jaubourg/jquery-jsonp) 
		 * because jquery has problems with jsonp e.g. no error handling.
		 */
		var url = 'https://picasaweb.google.com/data/feed/api/user/' + username + '?alt=json&callback=?';
		$.jsonp({
			url: url,
			success: function(json, textStatus) {
				console.log(json, textStatus);
				showAlbums(json);
			},
			error: function(xOptions, textStatus) {
				$('#picasa-target').append(
					'<div class="alert alert-error">' +
						'<a class="close" data-dismiss="alert" href="#">&times;</a>' +
						'User <strong>' + username + '</strong> not found.' +
					'</div>'
				);
			},
			complete: function() {
				
			}
		});
	}
	
	function showAlbums(data)
	{
		var author = {
			name: data.feed.author[0].name.$t,
			uri:  data.feed.author[0].uri.$t,
			img:  data.feed.icon.$t,
		};
		
		$('#picasa-target').append(
			'<div class="picasa-user">' + 
				'<img src="' + author.img + '" />' + author.name + '<br />' + 
				'<a target="_blank" href="' + author.uri + '">View user\'s picasa page</a>' +
				'<div class="clearfix"></div>' +
			'</div>'
		);
		
		var albums = [];
		var hiddenAlbums = [];
		var ignoreTypes = ["Buzz", "ProfilePhotos", "ScrapBook"];
		
		for (key in data.feed.entry) {
			var entry = data.feed.entry[key];

			var hidden = false;
			if (entry.hasOwnProperty('gphoto$albumType')) {
				var type = $.trim(entry.gphoto$albumType.$t);
				if ($.inArray(type, ignoreTypes) != -1) {
					hidden = true;
				}
			}
			
			album = {
				id:    entry.id.$t,
				uri:   entry.link[1].href,
				title: entry.title.$t,
				count: entry.gphoto$numphotos.$t,
				thumb: entry.media$group.media$thumbnail[0].url,
			};
			
			if (hidden) {
				hiddenAlbums.push(album);
			} else {
				albums.push(album);
			}
		}
		
		for (key in albums) {
			album = albums[key];

			if (key % 3 == 0) {
				if (row) {
					$('#picasa-target').append(row);
				}
				var row = $('<div class="row">');
			}
			
			row.append(
				'<div class="span4 picasa-album linked" onclick="selectAlbum(\'' + album.id + '\')">' +
					'<div class="picasa-album-img">' +
						'<img style="width: 80px" src="' + album.thumb + '" />' +
					'</div>' +
					'<div class="picasa-album-text">' +
						'<span class="blue">' + album.title + '</span><br />' +
						album.count + ' photos' +
					'</div>' +
					'<div class="clearfix"></div>' +
				'</div>'
			);
		}
		
		$('#picasa-target').append(row);
	}
	
	function selectAlbum(id) {
		console.log(id)
	}

</script>
{% endblock %}
