{% extends "divelog/base.html" %}
{% load bs_forms %}
{% block title %}Log in{% endblock %}

{% block content %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-error">{{ error }}</div>
	{% endfor %}
	<form class="form-horizontal" method="post">{% csrf_token %}
		{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		{% bs_fields form.visible_fields %}
		<div class="form-actions">
			<input class="btn btn-primary" type="submit" value="Login" />
	    </div>
	</form>
{% endblock %}
