{% extends "divelog/base.html" %}
{% load utils %}

{% block title %}Upload review{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
	<colgroup>
		<col class="span1" />
		<col class="span2" />
	</colgroup>
	<tbody>
		<tr>
			<th>File</th>
			<td>{{ upload.data }}</td>
		</tr>
		<tr>
			<th>Size</th>
			<td>{{ file_size|filesizeformat }}</td>
		</tr>
	</tbody>
</table>
{% if overview %}
	<p>This is an overview of dives found in the uploaded dive log.</p>
	
	<p>Select the dives which you wish to import and click the <em>Import dives</em> button</p>
	
	<form action="{% url divelog.views.upload_import %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="upload_id" value="{{ upload.id }}" />
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Number</th>
					<th>Datetime</th>
					<th>Dive time</th>
					<th>Max. depth</th>
					<th>Avg. depth</th>
					<th>Temperature</th>
					<th>Location</th>
					<th>Select</th>
				</tr>
			</thead>
			<tbody>
			{% for item in overview %}
				<tr>
					<td>{{ item.number }}</td>
					<td>{{ item.datetime|date:"d.m.Y H:i:s" }}</td>
					<td class="right">{{ item.duration|sec_to_min }} min</td>
					<td class="right">{{ item.max_depth|floatformat:1 }} m</td>
					<td class="right">{{ item.avg_depth|floatformat:1 }} m</td>
					<td class="right">{{ item.temperature }}°C</td>
					<td>{{ item.location }}</td>
					<td><input type="checkbox" name="numbers" value="{{ item.number }}" /></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	
		<p class="pull-right">
			<button class="btn" onclick="$('input[type=checkbox]').attr('checked', true); return false;">All</button>
			<button class="btn" onclick="$('input[type=checkbox]').attr('checked', false); return false;">None</button>
			<button class="btn" onclick="$('input[type=checkbox]').each(function() { $(this).attr('checked', !$(this).attr('checked')); }); return false;">Toggle</button>
		</p>
		
		<input type="submit" class="btn btn-primary" value="Import dives" />
	</form>
{% endif %}
{% endblock %}
