{% extends "divelog/base.html" %}

{% block title %}Edit dive #{{ form.instance.id }}{% endblock %}

{% block content %}
<form class="form-horizontal" action="" method="post">
	{% csrf_token %}
	<fieldset>
		<legend>Dive details</legend>
		{% for field in form %}
		<div class="control-group{% if field.errors %} error{% endif %}">
			<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
			<div class="controls">
				{{ field }}
				{{ field.errors }}
			</div>
		</div>
		{% endfor %}
		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="Save" />
			<a class="btn" href="{% url divelog.views.dive_view form.instance.id %}">Cancel</a>
		</div>
	</fieldset>
</form>
{% endblock %}
