{% extends "divelog/base.html" %}
{% load divelog_filters %}

{% block title %}Dive #{{ dive.number }}{% endblock %}

{% block content %}
{% include "divelog/messages.html" %}
<table class="table table-bordered">
	<colgroup>
		<col class="span3" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th>No.</th>
			<td>{{ dive.number }}</td>
		</tr>
		<tr>
			<th>Fingerprint</th>
			<td>{{ dive.fingerprint }}</td>
		</tr>
		<tr>
			<th>Size</th>
			<td>{{ dive.size }} samples</td>
		</tr>
		<tr>
			<th>Datetime</th>
			<td>{{ dive.date_time|date:"d.m.Y. H:i:s" }}</td>
		</tr>
		<tr>
			<th>Maximum depth</th>
			<td>{{ dive.max_depth }}m</td>
		</tr>
		<tr>
			<th>Duration</th>
			<td>{{ dive.duration|formatTime }}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{ dive.comment }}</td>
		</tr>
	</tbody>
</table>

{% if prev %}
<a class="btn" href="{% url divelog.views.dive_view prev %}"><i class="icon-hand-left"></i> Previous</a>
{% else %}
<button class="btn" disabled="disabled"><i class="icon-hand-left"></i> Previous</button>
{% endif %}

{% if next %}
<a class="btn" href="{% url divelog.views.dive_view next %}">Next <i class="icon-hand-right"></i></a>
{% else %}
<button class="btn" disabled="disabled">Next <i class="icon-hand-right"></i></button>
{% endif %}

{% if dive.size > 0 %}
<div id="dive_chart"></div>
{% else %}
<p>This dive has no profile information.</p>
{% endif %}

<a class="pull-right" href="edit">Edit dive</a>
<a class="pull-left" href="/dives">&lt; Back to dives</a>
<div style="clear: both"></div>

{% endblock %}

{% block js %}
{% if dive.size > 0 %}
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript">
<!--
$(function() {
	var depthSeries = {{ chart.depth|jsonify|safe }};
	var tempSeries = {{ chart.temperature|jsonify|safe }};
	var events = {{ chart.events|jsonify|safe }};
	
	chart = new Highcharts.StockChart({
		chart: {
			renderTo: 'dive_chart',
//			zoomType: 'x',
			marginTop: 50,
		},
		
		credits: {
			enabled: false
		},
		
		navigator: {
			reversed: true,
		},
		
		rangeSelector: {
			enabled: false
		},
		
		yAxis: [{
			title: { text: 'Depth' },
			min: 0,
			reversed: true,
		},{
			title: { text: 'Temperature' },
			opposite: true
		}], 
		
		series: [{
			name: 'Depth',
			type: 'area',
			data: depthSeries,
			id: 'depthseries',
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y} m</b><br/>',
				valueDecimals: 2
			},
		},{
			name: 'Temperature',
			data: tempSeries,
			yAxis: 1,
			dashStyle: 'LongDash',
			lineWidth: 1,
			states: {
				hover: {
					lineWidth: 1
				}
			},
			connectNulls: true,
			tooltip: {
				pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y} °C</b><br/>',
				valueDecimals: 1
			},
		}, {
			name: 'Events',
			type: 'flags',
			data: events,
			onSeries: 'depthseries',
			tooltip: {
			},
		}],
		exporting: {
			buttons: {
				printButton: {
					enabled: false
				},
				exportButton: {
					enabled: false
				}
			}
		}
	});
});
//-->
</script>
{% endif %}
{% endblock %}