{% extends "divelog/base.html" %}
{% load utils %}

{% block title %}Dive #{{ dive.number }}{% endblock %}

{% block content %}
	<table class="table table-bordered">
		<colgroup>
			<col class="span2" />
			<col />
		</colgroup>
		<tbody>
			<tr>
				<th>Location</th>
				<td>{{ dive.location }}</td>
			</tr>
			<tr>
				<th>Datetime</th>
				<td>{{ dive.date_time|date:"d.m.Y. H:i:s" }}</td>
			</tr>
			<tr>
				<th>Maximum depth</th>
				<td>{{ dive.max_depth }} m</td>
			</tr>
			<tr>
				<th>Average depth</th>
				<td>{{ dive.avg_depth }} m</td>
			</tr>
			<tr>
				<th>Temperature</th>
				<td>{{ dive.temperature }}°C</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>{{ dive.duration|sec_to_min }} min</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ dive.comment }}</td>
			</tr>
		</tbody>
	</table>
	
	<div class="pull-right">
		<a class="btn" href="{% url divelog.views.dive_edit dive.id %}"><i class="icon-edit"></i> Edit</a>
		<a class="btn" href="{% url divelog.views.dive_trash dive.id %}" onclick="return confirm('Are you sure you want to delete this dive?')"><i class="icon-trash"></i> Trash</a>
	</div>
	
	{% if prev %}
		<a class="btn" href="{% url divelog.views.dive_view prev %}"><i class="icon-hand-left"></i> Previous</a>
	{% else %}
		<button class="btn" disabled="disabled"><i class="icon-hand-left"></i> Previous</button>
	{% endif %}
	
	{% if next %}
		<a class="btn" href="{% url divelog.views.dive_view next %}">Next <i class="icon-hand-right"></i></a>
	{% else %}
		<button class="btn" disabled="disabled">Next <i class="icon-hand-right"></i></button>
	{% endif %}
	
	{% if dive.size > 0 %}
		<div id="dive_chart"></div>
	{% else %}
		<p>This dive has no profile information.</p>
	{% endif %}
{% endblock %}

{% block js %}
	{% if dive.size > 0 %}
		{% include "divelog/dives/chart.html" %}
	{% endif %}
{% endblock %}